$primaryColor: #0c67e9;
$secondaryColor: #1c1d1f;
$textColor: #fefefe;
$secondaryTextColor: #8a8a8a;
$inputColor: #2e2f31;

// general styles
html, body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.fullMinHeight {
  min-height: 100vh;
}

//directions
.columnDirection {
  display: flex;
  flex-direction: column;
}

.rowDirection {
  display: flex;
  flex-direction: row;
}

//items-align
.itemsCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

//heading text styles
.heading {
  font-size: 18px;
  font-weight: bold;
  color: $textColor;
  margin: 0;
}

//subheading text styles
.subHeading {
  font-size: 14px;
  color: $secondaryTextColor;
  font-weight: 300;
}

.signButtons {
  background-color: $inputColor;
  padding: 3px 3px;
  border-radius: 10px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 244px;
  white-space: nowrap;
}

.formComponent {
  background-color: $secondaryColor;
  border-radius: 25px;

  margin: 20vh auto 0;
  padding: 3rem 5rem;

  width: 100%;
  height: 100%;
  max-width: 600px;
  min-height: 500px;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  box-sizing: border-box;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $primaryColor;
}

.gapping {
  gap: 15px;
}

.gapping h2 {
  font-weight: 300;
  font-size: 18px;
}