.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  border-radius: 10px;
  padding: 0.6rem 1.2rem;
  font-size: 18px;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s ease, transform 0.1s ease;
  user-select: none;

  &:active {
    transform: scale(1);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.primary {
  background-color: #fefefe;
  color: white;

  &:hover:not(:disabled) {
    background-color: #fefefe;
  }
}

.secondary {
  background-color: #e5e7eb;
  color: #111827;

  &:hover:not(:disabled) {
    background-color: #d1d5db;
  }
}

.sign {
  background-color: #ffffff;
  color: black;
  font-size: 14px;
  font-weight: bold;
}

.small {
  font-size: 14px;
  padding: 10px 40px;
}

.large {
  padding: 1.125rem 6.188rem;
  font-size: 14px;
}

.loading {
  pointer-events: none;
  opacity: 0.7;
}
