body {
  color: #fefefe;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-color: #121315;
}

.content {
  display: flex;
  min-height: 100vh;
  line-height: 1.1;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}